label {
  margin-right: 5px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.849);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}
.modalContent {
  padding: 1rem;
  height: 300px;
  background-color: white;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.btn button {
  padding: 6px;
  background-color: white;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}
.btn button:hover {
  background-color: rgb(235, 235, 235);
}
.formDiv {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outerDiv {
  flex-direction: column;
  font-size: larger;
}
.outerDiv div {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}
.submit {
  display: flex;
  align-items: center;
  justify-content: center;
}
.submit button {
  padding: 6px;
  background-color: white;
  cursor: pointer;
}
.submit button:hover {
  background-color: rgb(235, 235, 235);
}
